.fullpagemodal {
  z-index: 9000;
  height: 100vh;
  background: rgba(40, 42, 51, 0);
}
.fullpagemodal__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(40, 42, 51, 0.85);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9000;
}
.fullpagemodal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 600px;
  animation: fadeInUp 1600ms ease-in-out forwards;
}
.fullpagemodal__closeButton {
  position: fixed;
  top: 3rem;
  right: 3rem;
}

.fullpagemodal {
  z-index: 9000;
  height: 100vh;
  background: rgba(255, 255, 255, 0);
}
.fullpagemodal__container--light {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9000;
}
.fullpagemodal__container--dark {
  background: rgba(255, 255, 255, 0.85);
}
.fullpagemodal > * {
  color: var(--dark-grey);
}
.fullpagemodal__content--light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 600px;
  animation: fadeInUp 1600ms ease-in-out forwards;
}
.fullpagemodal__closeButton--light {
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 10000;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(0.1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .fullpagemodal__content--light {
    padding: 1rem;
  }
  .fullpagemodal__closeButton--light {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}
