.fullpagemodal {
  z-index: 100;
  height: 100vh;
  background: rgb(40, 42, 51, 0);

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(40, 42, 51, 0.85);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 600px;
    animation: fadeInUp 1600ms ease-in-out forwards;
  }

  &__closeButton {
    position: fixed;
    top: 3rem;
    // left: 0;
    right: 3rem;
  }
}

.fullpagemodal {
  z-index: 100;
  height: 100vh;
  background: rgba(255, 255, 255, 0);

  &__container--light {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
  }

  > * {
    color: var(--dark-grey);
  }

  &__content--light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 600px;
    animation: fadeInUp 1600ms ease-in-out forwards;
  }

  &__closeButton--light {
    position: fixed;
    top: 3rem;
    // left: 0;
    right: 3rem;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(0.1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
