.caseStudyHeader__content {
  display: grid;
  grid-template-columns: 40vw 20vw min-content;
}
.caseStudyHeader__liveLink {
  cursor: pointer;
  text-decoration: none;
}
.caseStudyHeader__liveLink:hover {
  text-decoration: underline;
  text-decoration-color: var(--dark-black);
}
.caseStudyHeader__liveLink:visited {
  text-decoration: underline;
  text-decoration-color: var(--dark-black);
}
.caseStudyHeader__backButton {
  all: unset;
  text-decoration: underline;
  white-space: nowrap;
  height: min-content;
  cursor: pointer;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 200ms;
}
.caseStudyHeader__backButton:hover {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .caseStudyHeader {
    padding-top: 30vh;
  }
  .caseStudyHeader__content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .caseStudyHeader__backButton {
    color: white;
    text-decoration-color: #fff;
  }
}
