.caseStudyHeader {
  &__content {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    grid-template-columns: 40vw 20vw min-content;

    & div.col {
      // margin-right: 2rem;
    }
  }

  &__liveLink {
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--dark-black);
      // border-bottom: 2px solid var(--dark-black);
    }

    &:visited {
      text-decoration: underline;
      // text-decoration-color: #61a18f;
      // text-decoration-color: #bfece0;
      // text-decoration-color: #afc7c8;
      text-decoration-color: var(--dark-black);
    }
  }

  &__backButton {
    all: unset;
    text-decoration: underline;
    white-space: nowrap;
    height: min-content;
    cursor: pointer;
    transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 200ms;
    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1024px) {

  .caseStudyHeader {
    padding-top: 20vh;

    &__content {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }


    &__backButton {
      color: white;
      text-decoration-color: #fff;
    }

  }
  
}