.tabs {
  overflow-x: scroll;
  overflow: visible;
  padding: 0 1rem 0 0;
  transition: 400ms ease-in-out;
  // z-index: 100;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  &__container {
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    flex-wrap: nowrap;
    // margin: 0 1rem;

    & > * {
      margin-right: 1rem;
    }
    // & > *:last-child {
    //   margin-right: 1;
    // }
  }

  &__menu {
    transition: 400ms ease-in-out;
  }

  &.scrolling {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 5vh;
    left: 0;
    right: 0;
    opacity: 0.5;
  }

  &__heading {
    transition: 400ms ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .tabs {
    &__container {
      justify-content: flex-start;
    }
  }
}
