.infoTile {
  height: 100%;
  left: 0.25rem;
  height: 100%;
  /* background-image: url(/public/assets/Noise.png); */
  border-radius: 1.5rem;
  width: 30vw;
  max-width: 55ch;
  padding-right: 2rem;
  z-index: 99;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 400ms;
  cursor: default;
}

.infoTile.hidden {
  left: -15rem;
  bottom: -21rem;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 400ms;
}

.infoTile.hidden div button {
  transform: rotate(180deg);
}
.infoTile.hidden div button:hover {
  transform: rotate(180deg) scale(1.1);
}

@media screen and (max-width: 768px) {
  .infoTile {
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    max-height: min-content;
    height: calc(min-content - (100vh - var(--vh)));
  }
  .infoTile__actions button:first-child {
    margin-right: 0.5rem;
  }
  .infoTile.hidden {
    left: 0;
    right: 0;
    top: 40vh;
  }
}
