.infoTile {
  position: absolute;
  left: 2rem;
  bottom: 3rem;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.69), rgba(255, 255, 255, 0.4));
  /* background-image: url(/public/assets/Noise.png); */
  backdrop-filter: blur(30px);
  border: 2px #9c9c9c solid;
  box-shadow: 0 0.25rem 1rem 0.25rem rgba(83, 83, 83, 0.25);
  border-radius: 1.5rem;
  max-width: 20rem;
  padding: 1.5rem 1.5rem;
  min-height: 25rem;
  z-index: 99;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 400ms;
}

.infoTile.hidden {
  left: -15rem;
  bottom: -21rem;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 400ms;
}

.infoTile.hidden div button {
  transform: rotate(180deg);
}
.infoTile.hidden div button:hover {
  transform: rotate(180deg) scale(1.1);
}

@keyframes fadeIn {
  0% {
    height: auto;
    opacity: 0.3;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .infoTile {
    left: 1rem;
    right: 1rem;
    bottom: 10rem;
    max-width: 100%;
    min-height: auto;
    max-height: 250px;
    height: min-content;
  }
  .infoTile__actions button:first-child {
    margin-right: 0.5rem;
  }
  .infoTile.hidden {
    left: 0;
    right: 0;
    top: 40vh;
  }
}
