.headingH2 {
  font-size: 4rem;
  z-index: 1;

  &.serifHeading {
    font-family: "Junicode";
  }
}

.headingH1 {
  font-size: 6rem;
  // font-size: 4.5rem;
  &.serifHeading {
    font-family: "Junicode";
  }
}

.headingH3 {
  font-size: 2.25rem;
  z-index: 1;
  &.serifHeading {
    font-family: "Junicode";
  }
}

.headingH4 {
  font-size: 1.5rem;
  z-index: 1;
  &.serifHeading {
    font-family: "Junicode";
  }
}

h1.curtain, h2.curtain, h3.curtain, .curtain {
  overflow: hidden;
  margin: 0;
  animation-delay: 0;
}

.slide-up {
  animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-up {
  0%{transform: translateY(200px)}
    
  100% {
transform: translateY(0)
  }
    
}

@media screen and (max-width: 768px) {

  .heading {
    &H1 {
      font-size: 3rem;
    }
    &H2 {
      font-size: 2.5rem;
    }
    &H3 {
      font-size: 1.5rem;
    }
  }
  
}