.headingH2 {
  font-size: 4rem;
  z-index: 1;
}
.headingH2.serifHeading {
  font-family: "Junicode";
}

.headingH1 {
  font-size: 6rem;
}
.headingH1.serifHeading {
  font-family: "Junicode";
}

.headingH3 {
  font-size: 2.25rem;
  z-index: 1;
}
.headingH3.serifHeading {
  font-family: "Junicode";
}

.headingH4 {
  font-size: 1.5rem;
  z-index: 1;
}
.headingH4.serifHeading {
  font-family: "Junicode";
}

@media screen and (max-width: 768px) {
  .headingH1 {
    font-size: 3rem;
  }
  .headingH2 {
    font-size: 2.5rem;
  }
  .headingH3 {
    font-size: 1.5rem;
  }
}
