.profile {
  width: 100%;
  height: auto;
  /* overflow-y: hidden; */
  background: linear-gradient(90deg, #237c97, #115a71);
  background-size: cover;
  position: relative;
}
.profile::before {
  position: fixed;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  height: 20vw;
  width: 100%;
  background: linear-gradient(180deg, transparent, #15627a 100%);
  z-index: 25;
}
.profile__contentColumn {
  max-width: 1200px;
  padding: 0 2rem;
}
.profile__contentColumn p {
  max-width: 800px;
}
.profile__heading {
  font-family: "Junicode";
  font-size: 6rem;
  color: #f8f8f8;
  letter-spacing: -0.05em;
  line-height: 1.2em;
  font-style: normal;
  font-weight: 400;
}
.profile__headingLink {
  color: #f8f8f8;
  text-decoration: none;
  border-bottom: solid 4px white;
}
@media screen and (max-width: 1024px) {
  .profile__heading {
    font-family: "Junicode";
    font-size: 4rem;
    color: #f8f8f8;
    letter-spacing: -0.05em;
    line-height: 1.2em;
    font-style: normal;
    font-weight: 400;
  }
}
