.profile {
  width: 100%;
  height: auto;
  /* overflow-y: hidden; */
  background: linear-gradient(84deg, #09466a 1.7%, #32959d 96.33%);
  background-size: cover;
  position: relative;
}
.profile__glowBallAnimationWrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40%;
}
.profile__glowballWrapper {
  animation: y-axis 10s infinite cubic-bezier(0.73, 0.2, 0.33, 1) forwards;
  animation-fill-mode: revert;
  animation-direction: normal;
  animation-delay: 3000ms;
}
.profile__glowball {
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 5px #333;
  border-radius: 50%;
  filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  animation: x-axis 4s infinite cubic-bezier(0.73, 0.2, 0.5, 1) forwards;
  animation-duration: 4000ms;
  animation-delay: 3000ms;
  animation-fill-mode: both;
  z-index: 0;
  transform: translateY(-1vh);
  opacity: 0;
}
.profile__glowballWrapper1 {
  animation: y-axis-1 10s infinite cubic-bezier(0.73, 0.2, 0.33, 1) forwards;
  animation-fill-mode: revert;
  animation-direction: normal;
  animation-delay: 4500ms;
}
.profile__glowball1 {
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 5px #333;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(-1vh);
  filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  animation: x-axis-1 5s infinite cubic-bezier(0.73, 0.2, 0.3, 1) forwards;
  animation-delay: 4500ms;
  z-index: -1;
  animation-fill-mode: both;
}
.profile__contentColumn {
  max-width: 1000px;
  padding: 0 2rem;
}
.profile__contentColumn p {
  max-width: 800px;
}
.profile__heading {
  font-family: "Junicode";
  font-size: 4.5rem;
  color: #f8f8f8;
  letter-spacing: -0.05em;
  line-height: 1.3em;
  font-style: normal;
  font-weight: 400;
}
.profile__headingLink {
  color: #f8f8f8;
  text-decoration: none;
  border-bottom: solid 4px white;
}
@media screen and (max-width: 1024px) {
  .profile__heading {
    font-family: "Junicode";
    font-size: 2rem;
    color: #f8f8f8;
    letter-spacing: -0.05em;
    line-height: 1.2em;
    font-style: normal;
    font-weight: 400;
  }
  .profile__headingLink {
    border-bottom: solid 2px white;
  }
}
@keyframes glowBall {
  0% {
    opacity: 0;
    transform: scale(1);
    top: -10vh;
    right: 0;
  }
  20% {
    opacity: 1;
    transform: scale(1.5);
    top: 30vh;
    right: 40vw;
  }
  40% {
    opacity: 1;
    transform: scale(1);
    top: 60vh;
    right: 20vw;
  }
  60% {
    opacity: 0.5;
    transform: scale(0.8);
    top: 60vh;
    right: 20vw;
  }
  80% {
    opacity: 0.5;
    transform: scale(0.8);
    top: 60vh;
    right: 20vw;
  }
  82% {
    opacity: 0.5;
    transform: scale(0.9);
    top: 62vh;
    right: 24vw;
  }
  90% {
    opacity: 0;
    transform: scale(1);
    top: 110vh;
    right: 50vw;
  }
  100% {
    opacity: 0;
    transform: scale(1);
    top: 120vh;
    right: 50vw;
  }
}
@keyframes x-axis {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    transform: translateX(30vw) scale(0.6);
    opacity: 0.6;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
@keyframes x-axis-1 {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    transform: translateX(30vw) scale(0.6);
    opacity: 0.6;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
@keyframes y-axis {
  0% {
    transform: translateY(-30vh);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    transform: translateY(50vh);
  }
  85% {
    opacity: 1;
  }
  99% {
    transform: translateY(200vh);
    opacity: 0;
  }
  100% {
    transform: translateY(-20vh);
    opacity: 0;
  }
}
@keyframes y-axis-1 {
  0% {
    transform: translateY(-20vh);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    transform: translateY(50vh);
  }
  85% {
    opacity: 1;
  }
  99% {
    transform: translateY(200vh);
    opacity: 0;
  }
  100% {
    transform: translateY(-20vh);
    opacity: 0;
  }
}
