.profile {
  width: 100%;
  height: auto;
  /* overflow-y: hidden; */
  background: linear-gradient(90deg, #237c97, #115a71);
  background-size: cover;
  position: relative;
}
.profile::before {
  position: fixed;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  height: 60vw;
  width: 100%;
  background: linear-gradient(180deg, rgba(21, 98, 122, 0) 0%, rgba(21, 98, 122, 0) 80%, #15627a 100%);
}
.profile__contentColumn {
  max-width: 1200px;
}
.profile__contentColumn p {
  max-width: 800px;
}
.profile__heading {
  font-family: "Junicode";
  font-size: 6rem;
  color: #f8f8f8;
  letter-spacing: -0.05em;
  line-height: 115px;
  font-style: normal;
  font-weight: 400;
}
.profile__headingLink {
  color: #f8f8f8;
  text-decoration: none;
  border-bottom: solid 4px white;
}
