.profile {
  // min-width: 100%;
  width: 100%;
  height: auto;
  // min-height: 100vh;
  // overflow-x: scroll;
  /* overflow-y: hidden; */
  // background: var(--primary);
  // background: linear-gradient(90deg, #237c97, #115a71);
  // background: linear-gradient(96.98deg, #286685 1.7%, #508A99 96.33%);
  background: linear-gradient(84deg,#09466a 1.7%,#32959d 96.33%);
  // background: #252651;
  // background: url(/public/assets/profileImage.jpg) no-repeat;
  background-size: cover;
  position: relative;

  &__glowBallAnimationWrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
  }

  &__glowballWrapper {
    animation:  y-axis 10s infinite cubic-bezier(0.73, 0.2, 0.33, 1) forwards;
    animation-fill-mode: revert;
    animation-direction: normal;
    animation-delay: 3000ms;
  }

  &__glowball {
    // position: absolute;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 5px #333;
    border-radius: 50%;
    filter: blur(10px);
    background-color: rgba($color: #fff, $alpha: 0.2);
    animation:  x-axis 4s infinite cubic-bezier(0.73, 0.2, 0.5, 1) forwards;
    // animation-name: glowBall;
    animation-duration: 4000ms;
    animation-delay: 3000ms;
    // animation-timing-function: cubic-bezier(0,.51,0.7,.53);
    animation-fill-mode:both;
    z-index: 0;
    transform: translateY(-1vh);
    opacity: 0;
    // animation-direction: normal;
    // animation-iteration-count: infinite;
  }
  
  &__glowballWrapper1 {
    animation:  y-axis-1 10s infinite cubic-bezier(0.73, 0.2, 0.33, 1) forwards;
    animation-fill-mode: revert;
    animation-direction: normal;
    // animation-duration: 4000ms;
    animation-delay: 4500ms;
  }

  &__glowball1 {
    // position: absolute;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 5px #333;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-1vh);
    filter: blur(10px);
    background-color: rgba($color: #fff, $alpha: 0.2);
    animation:  x-axis-1 5s infinite cubic-bezier(0.73, 0.2, 0.3, 1) forwards;
    // animation-name: glowBall;
    // animation-duration: 4000ms;
    animation-delay: 4500ms;
    z-index: -1;
    // animation-timing-function: cubic-bezier(0,.51,0.7,.53);
    animation-fill-mode:both;
    // animation-direction: normal;
    // animation-iteration-count: infinite;
  }

  &::before {
    position: fixed;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    height: 20vw;
    width: 100%;
    // background: linear-gradient(180deg, transparent, #15627a 100%);
    z-index: 25;
  }

  &__contentColumn {
    max-width: 1000px;
    padding: 0 2rem;

    & p {
      max-width: 800px;
    }
  }

  &__heading {
    font-family: "Junicode";
    font-size: 4.5rem;
    color: #f8f8f8;
    letter-spacing: -0.05em;
    line-height: 1.3em;
    font-style: normal;
    font-weight: 400;
  }

  &__headingLink {
    color: #f8f8f8;
    text-decoration: none;
    border-bottom: solid 4px white;
    // line-height: 0px;
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 100vh;
  //   background: linear-gradient(
  //     90deg,
  //     var(--primary) 10%,
  //     rgba(37, 38, 81, 0) 99.84%
  //   );

  //   // background: url(/public/assets/profileImageDesktop.jpg) no-repeat;
  //   background-size: 100vw auto;
  //   object-fit: cover;
  //   z-index: 1;
  //   // mix-blend-mode: screen;
  // }

  &::before {
    // top: 100vh;
    // bottom: 0;
    // height: 20%;
    // width: 100%;
    // background: linear-gradient(
    //   90deg,
    //   var(--primary) 7.05%,
    //   rgba(37, 38, 81, 0) 99.84%
    // );
    // z-index: 999;
  }

  // &__fade2 {
  //   position: absolute;
  //   left: 0;
  //   z-index: 10;
  // }

  // &__fade1 {
  //   top: 100vh;
  //   bottom: 0;
  //   height: 100%;
  //   width: 20%;
  //   background: linear-gradient(
  //     90deg,
  //     var(--primary) 7.05%,
  //     rgba(37, 38, 81, 0) 99.84%
  //   );
  //   z-index: 999;
  // }

  // &__fade2 {
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  //   height: 20vw;
  //   width: 100vh;
  //   background: linear-gradient(
  //     0deg,
  //     rgba(21, 98, 81, 122) 0%,
  //     rgba(21, 98, 81, 122) 100%
  //   );
  // }
}

// .pageContainer {
//   width: 100vw;
//   height: 100vh;
//   // background: url(/public/assets/profileImage.jpg) no-repeat;
//   overflow-x: scroll;
//   /* overflow-y: hidden; */
//   // background: var(--dark-grey);
//   // background: #252651;
// }

@media screen and (max-width: 1024px) {
  .profile {
    &__heading {
      font-family: "Junicode";
      font-size: 4rem;
      color: #f8f8f8;
      letter-spacing: -0.05em;
      line-height: 1.2em;
      font-style: normal;
      font-weight: 400;
    }

    &__contentColumn {
      // max-width: 100vw;

      & p {
        // max-width: 100vw;
      }
    }
  }
}

@keyframes glowBall {

  0% {
    opacity: 0;
    transform: scale(1);
    top: -10vh;
    right: 0;
  } 4% {

  } 20% {
    opacity: 1;
    transform: scale(1.5);
    top: 30vh;
    right: 40vw;
  } 40% {
    opacity: 1;
    transform: scale(1);
    top: 60vh;
    right: 20vw;
  } 60% {
    opacity: 0.5;
    transform: scale(0.8);
    top: 60vh;
    right: 20vw;
  } 80% {
    opacity: 0.5;
    transform: scale(0.8);
    top: 60vh;
    right: 20vw;
  } 82% {
    opacity: 0.5;
    transform: scale(0.9);
    top: 62vh;
    right: 24vw;
  } 90% {
    opacity: 0;
    transform: scale(1);
    top: 110vh;
    right: 50vw;
  } 100% {
    opacity: 0;
    transform: scale(1);
    top: 120vh;
    right: 50vw;
  }
  
}

@keyframes x-axis {

  
  0% {
    transform: scale(2);
    opacity: 0;
  } 1% {
    opacity: 1;
  }

  50%{
    transform: translateX(30vw) scale(0.6);
    opacity: 0.6;
  }

  100% {
      transform: scale(2);
      opacity: 1;
  }
  
}

@keyframes x-axis-1 {

  
  0% {
    transform: scale(2);
    opacity: 1;
  }1% {
    opacity: 1;
  }

  50%{
    transform: translateX(30vw) scale(0.6);
    opacity: 0.6;
  }

  100% {
      transform: scale(2);
      opacity: 1;
  }
  
}

@keyframes y-axis {
  0% {
    transform: translateY(-30vh);
    opacity: 0;
  } 1% {
    opacity: 1;
  } 
  50%{
    transform: translateY(50vh);
  } 
  85% {
    opacity: 1;
  }
  99% {
    transform: translateY(200vh);
    opacity: 0;
  } 100% {
    transform: translateY(-20vh);
    opacity: 0;
  } 
  
}

@keyframes y-axis-1 {
  0% {
    transform: translateY(-20vh);
    opacity: 0;
  } 1% {
    opacity: 1;
  } 
  50%{
    transform: translateY(50vh);
  } 
  85% {
    opacity: 1;
  }
  99% {
    transform: translateY(200vh);
    opacity: 0;
  } 100% {
    transform: translateY(-20vh);
    opacity: 0;
  } 
  
}