.projectImage {
  width: 80vw;
  height: auto;
}

.projectImage__container {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .projectImage {
    position: absolute;
    left: -70vw;
    width: auto;
    height: 40vh;
  }
  .projectImage__container {
    position: relative;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10vh;
  }
}
