.projectImage {
  width: 80vw;
  height: auto;
}

.projectImage__container {
  width: 100vw;
  height: 100vh;
  // position: absolute;
  // z-index: 1;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
}

@media screen and (max-width: 768px) {
  .projectImage {
    &__container {
      position: relative;
      overflow: hidden;
      align-items: flex-start;
      justify-content: center;
      padding-top: 10vh;
      // top: 100px;
    }

    position: absolute;
    top: 10rem;
    // left: -70vw;
    width: 100vw;
    height: auto;
  }
}
