.projectImage {
  width: 80vw;
  height: auto;
  transition: all 400ms ease-in-out;
}

.projectImage__container {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .projectImage {
    position: absolute;
    top: 15rem;
    width: 100vw;
    height: auto;
  }
  .projectImage__container {
    position: relative;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10vh;
  }
}
