.divider {
  // padding: 2rem 0;
  &__leftArm,
  &__rightArm {
    height: 1px;
    width: 90%;
    opacity: 0.15;
    // min-width: 400px;
    background: var(--off-white);
    border-radius: 50rem;
  }

  & p {
    margin: 0 2rem;
  }
}

.divider--dark {
  // padding: 2rem 0;
  &__leftArm,
  &__rightArm {
    height: 2px;
    width: 90%;
    // min-width: 400px;
    background: var(--primary);
  }

  & p {
    margin: 0 2rem;
  }
}
