.divider__leftArm, .divider__rightArm {
  height: 2px;
  width: 90%;
  background: var(--off-white);
}
.divider p {
  margin: 0 2rem;
}

.divider--dark__leftArm, .divider--dark__rightArm {
  height: 2px;
  width: 90%;
  background: var(--primary);
}
.divider--dark p {
  margin: 0 2rem;
}
