.mobileMenu {
  position: absolute;
  top: -100vh;
  z-index: 101;
}
.mobileMenu.active {
  top: 0;
}
.mobileMenu__container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mobileMenu__backButton {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(15, 15, 15, 0.75);
  backdrop-filter: blur(5vw);
}
.mobileMenu__backButton svg, .mobileMenu__backButton p {
  display: inline;
}
.mobileMenu__links {
  height: auto;
  background: #106476;
  padding: 1.5rem;
}
.mobileMenu__navlinkPrimary, .mobileMenu__navlinkSecondary {
  text-decoration: none;
}
.mobileMenu__navlinkPrimary {
  width: 100%;
}
.mobileMenu__navlinkSecondary {
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
