.mobileMenu {
  position: absolute;
  top: -100vh;
  z-index: 101;
  // animation: fadeIn 600ms ease-in-out forwards;

  &.active {
    top: 0;
  }
  &__container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(15, 15, 15, 0.75);
    backdrop-filter: blur(5vw);
  }

  &__backButton {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    // animation: fadeIn cubic-bezier(0.3, 0.4, 0.2, 0.4) 1000ms;
    // background: rgb(15, 15, 15, 0.75);
    // display: inline;
    & svg,
    & p {
      display: inline;
    }
  }

  &__links {
    height: auto;
    // background: #106476;
    // background: #647692;
    background: #294063;
    padding: 1.5rem;
    // transform: translateY(100vh);

    // animation: slideUp ease-in-out 400ms;
  }

  &__navlinkPrimary,
  &__navlinkSecondary {
    text-decoration: none;
  }

  &__navlinkPrimary {
    width: 100%;
  }

  &__navlinkSecondary {
    text-decoration: none;
  }
}

@keyframes slideUp {
  0% {
    // opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    // opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate400 {
  transition: transform 400ms ease-in-out;
}

.animate1000 {
  transition: transform 1000ms ease-in-out;
}

.slideUp {
  animation: slideUp ease-in-out 600ms;
  // transform: translateY(0vh);
}

.fadeIn {
  // animation: fadeIn cubic-bezier(1, 0, 1, 0) 600ms;
  // animation: fadeIn cubic-bezier(1, 0, 0.9, 1.01) 1000ms;
  animation: fadeIn cubic-bezier(0, 0, 1, 1) 1000ms;
}
