.caseStudy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 110px);
  width: 100vw;
  z-index: 99;
  background: #fff;
  backdrop-filter: blur(15vmax);
  overflow: scroll;
  padding: 0 1rem;
  cursor: default;
  animation-name: slideUp;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.3, 0.4, 0.2, 0.4);
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
}
.caseStudy__container {
  height: auto;
}
.caseStudy__scrollHeaderContainer {
  position: absolute;
  z-index: 111;
  top: 110px;
  left: 0;
  right: 0;
  overflow: hidden;
  cursor: default;
}
.caseStudy__scrollHeader {
  transform: translateY(-75px);
  border-bottom: rgba(0, 0, 0, 0.16) solid 1px;
  padding: 1rem 2rem;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 200ms;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  overflow: hidden;
}
.caseStudy__scrollHeader.visibleOnScroll {
  transform: translateY(0) !important;
}
.caseStudy__goals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.caseStudy__image {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes slideUp {
  0% {
    transform: translateY(250vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes popIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .caseStudy {
    height: calc(100vh);
    padding: 0 1rem;
  }
  .caseStudy__scrollHeaderContainer {
    position: absolute;
    z-index: 111;
    top: 0px;
    left: 0;
    right: 0;
    height: auto;
    overflow: hidden;
    cursor: default;
  }
  .caseStudy__scrollHeader {
    transform: translateY(-200px);
    transform: translateY(0) !important;
    border-bottom: none;
    padding: 1rem 1rem;
    transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 200ms;
    backdrop-filter: blur(20px);
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
  }
  .caseStudyHeader__backButton {
    color: white;
    border-radius: 1rem;
    padding: 0rem 2rem;
    background: rgba(255, 255, 255, 0.1);
    line-height: 3rem;
    text-decoration: none;
    animation: popIn 2s ease-in-out;
  }
  .caseStudy.visibleOnScroll {
    transform: translateY(-200px) !important;
  }
}
