.text--xxs {
  font-size: 0.75rem;
}
.text--xs {
  font-size: 0.85rem;
}
.text--sm {
  font-size: 1rem;
  // line-height: 1.5rem;
}
.text--md {
  font-size: 1.125rem;
}
.text--lg {
  font-size: 1.25rem;
  // line-height: 1;
}
.text--xl {
  font-size: 1.5rem;
}
.text--xxl {
  font-size: 2.25rem;
}
.text--xxxl {
  font-size: 9.5rem;
}

.text--40 {
  font-size: 2.5rem;
}

.text--off-white {
  color: var(--off-white);
}

.text--dark-grey {
  color: var(--dark-grey);
}

.text--medium-light-grey {
  color: var(--medium-light-grey);
}

.hide {
  transform: translateY(1rem);
  opacity: 0;
  transition: 400ms ease-in-out;
}

.visible {
  transform: translateY(0rem);
  opacity: 1;
  transition: 400ms ease-in-out;
}


@media screen and (max-width: 768px) {

  .text {

    &--lg {
      font-size: 1rem;
    }
  }
  
}