.text--xxs {
  font-size: 0.75rem;
}
.text--xs {
  font-size: 0.85rem;
}
.text--sm {
  font-size: 1rem;
  // line-height: 1.5rem;
}
.text--md {
  font-size: 1.125rem;
}
.text--lg {
  font-size: 1.25rem;
  // line-height: 1;
}
.text--xl {
  font-size: 1.5rem;
}
.text--xxl {
  font-size: 2.25rem;
}
.text--xxxl {
  font-size: 9.5rem;
}

.text--40 {
  font-size: 2.5rem;
}

.text--off-white {
  color: var(--off-white);
}

.text--dark-grey {
  color: var(--dark-grey);
}

.text--medium-light-grey {
  color: var(--medium-light-grey);
}

.hide {
  transform: translateY(1rem);
  opacity: 0;
  transition: 400ms ease-in-out;
}

.visible {
  transform: translateY(0rem);
  opacity: 1;
  transition: 400ms ease-in-out;
}


.text__curtain {
  // margin: 80px 0 0 80px;
  // font-size: 64px;
  // width: max-content;
  // display: flex;
  // flex-direction: column;
  overflow: hidden;
  // width: max-content;
      // white-space: nowrap;
      margin: 0;
      animation-delay: 0;
}

.text {
  
  animation-delay: 600ms;

}

.slide-up {
  animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-up {
  0%{transform: translateY(200px)}
    
  100% {
transform: translateY(0)
  }
    
}
@media screen and (max-width: 768px) {

  .text {

    &--lg {
      font-size: 1rem;
    }
  }
  
}
