.pageContainer {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  background: var(--dark-grey);
  background: #252651;
}
.pageContainer::-webkit-scrollbar, .pageContainer::-webkit-scrollbar {
  display: none;
}
.pageContainer::-webkit-scrollbar, .pageContainer::-webkit-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
