.pageContainer {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  background: var(--dark-grey);
  background: #252651;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 400ms;
}
