.fullviewportslider {
  height: 100%;
  height: var(--vh, 100%);
  width: 100%;
  position: relative;
  /* padding: 3rem 0; */

  &__cursor {
    position: absolute;
    top: 300px;
    left: 200px;
    z-index: 90;
    pointer-events: none;
    padding: 0.8rem 1.5rem;
    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.25);
    border-radius: 50rem;
    transform: translateY(-50%) translateX(-50%);

    // animation-name: fadeIn;
    // animation-duration: 3000ms;
    // animation-timing-function: cubic-bezier(0.3, 0.4, 0.2, 0.4);
    // animation-delay: 1000ms;
  }

  &:hover {
    cursor: none;
  }
}

.projectContext {
  position: absolute;
  height: 100vh;
  height: var(--vh, 100%);
  width: 100vw;
  padding: 2rem;
}

.fullviewportslider__content {
  display: flex;
  /* justify-content: center; */
  /* max-height: 800px;
  min-height: 80vh; */
  // overflow-x: scroll;
  // scroll-snap-type: x mandatory;

  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  /* padding-top: 3rem; */
}

.fullviewportslider::-webkit-scrollbar,
.fullviewportslider__content::-webkit-scrollbar {
  display: none;
}

.fullviewportslider::-webkit-scrollbar,
.fullviewportslider__content::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

@media screen and (max-width: 1024px) {
  .fullviewportslider {
    &:hover {
      cursor: pointer;
    }

    &__cursor {
      display: none;
    }
  }

  .projectContext {
    position: absolute;
    height: 100vh;
    height: var(--vh, 100%);
    width: 100vw;
    padding: 2rem;
    align-items: flex-end;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
