.fullviewportslider {
  height: 100%;
  width: 100%;
  position: relative;
  /* padding: 3rem 0; */
}

.fullviewportslider__content {
  display: flex;
  /* justify-content: center; */
  /* max-height: 800px;
  min-height: 80vh; */
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  /* padding-top: 3rem; */
}

.fullviewportslider::-webkit-scrollbar,
.fullviewportslider__content::-webkit-scrollbar {
  display: none;
}

.fullviewportslider::-webkit-scrollbar,
.fullviewportslider__content::-webkit-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
