.pageCounter {
  bottom: 3rem;
  right: 2rem;
  width: auto;
  z-index: 98;
}
.pageCounter--mobile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: unset;
}

.pageCounter:nth-child(1) {
  margin: 0 2rem;
}

.pageCounterExp {
  display: flex;
  z-index: 98;
}

.pageCounterDot {
  all: unset;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--off-white);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.pageCounterDot:last-of-type {
  margin-bottom: 0;
}

.pageCounterDot.active {
  box-shadow: inset 0 0 0 2px white;
  background-color: transparent;
}
