.tag {
  /* background: var(--off-white); */
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2rem);
  border-radius: 3rem;
  margin-right: 0.5rem;
  height: min-content;
  white-space: nowrap;
  animation: fadeIn 1.5s cubic-bezier(1, 0, 0.49, 0.42);
}
.tag:last-of-type {
  margin-right: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
