.tag {
  /* background: var(--off-white); */
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  margin-right: 0.5rem;
  height: min-content;
  white-space: nowrap;
}
.tag:last-of-type {
  margin-right: 0;
}
