.project {
  // min-width: 100vw;
  // min-height: 100vh;
  // max-width: 100vw;
  // max-height: 100vh;
  // height: calc(var(--vh, 1vh));
  height: var(--vh, 100vh);
  height: -webkit-fill-available;

  position: relative;
  // overflow: visible;
  scroll-snap-align: start;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
}
