.project {
  height: var(--vh, 100vh);
  height: -webkit-fill-available;
  position: relative;
  scroll-snap-align: start;
}
.project::-webkit-scrollbar, .project::-webkit-scrollbar {
  display: none;
}
.project::-webkit-scrollbar, .project::-webkit-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
