.project {
  position: relative;
  scroll-snap-align: start;
}
.project::-webkit-scrollbar, .project::-webkit-scrollbar {
  display: none;
}
.project::-webkit-scrollbar, .project::-webkit-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
