body {
  margin: 0;
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  height: var(--vh, 100%);
  /* background-color: rgb(125, 110, 255); */
  /* padding: 10vh 10vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: -webkit-fill-available;
  height: var(--vh, 100vh);
}

canvas {
  width: 100%;
  height: 100%;
}

:root {
  --primary-colour: #f3f3f3;
  --secondary-colour: #0c0625;
}
