.btn {
  all: unset;
  cursor: pointer;
  white-space: nowrap;
  padding: 1rem 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 200ms;
  border-radius: 1rem;
  animation: popIn 2s ease-in-out;
}

.btn-primary {
  color: #333;
  background: white;
  font-weight: var(--font--regular);
  border-radius: 3rem;
  width: max-content;
}

.btn-primary:hover {
  /* background: var(--medium-grey-full-opacity); */
  background: var(--off-white);
  /* color: var(--secondary-colour); */
}

.btn-primary--light {
  background: #f3f3f3;
  color: var(--dark-grey);
  font-weight: var(--font--regular);
}
.btn-primary--light:hover {
  background: #1a977c;
  color: white;
}

.btn-blue {
  color: white;
  background: var(--deep-blue);
  font-weight: var(--font--regular);
  padding: 0.5rem 0;
}
.btn-blue > * {
  color: var(--white);
}
.btn-secondary {
  color: #f3f3f3;
  background: none;
  box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.2);
  font-weight: var(--font--regular);
  backdrop-filter: blur(2rem);
}
.btn-secondary:hover {
  box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

@keyframes popIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
