.btn {
  all: unset;
  cursor: pointer;
  white-space: nowrap;
  padding: 1rem 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 200ms;
  border-radius: 1rem;
  animation: popIn 2s ease-in-out;
  // width: 100%;
  // max-width: 100%;
}

.btn-primary {
  color: #333;
  background: white;
  font-weight: var(--font--regular);
  border-radius: 3rem;
  width: max-content;
  // max-width: 100%;
}

.btn-primary:hover {
  /* background: var(--medium-grey-full-opacity); */
  background: var(--off-white);
  /* color: var(--secondary-colour); */
}

.btn-primary--light {
  background: #f3f3f3;
  color: var(--dark-grey);
  font-weight: var(--font--regular);

  &:hover {
    background: rgb(26, 151, 124);
    color: white;
  }
}

.btn-blue {
  color: white;
  background: var(--deep-blue);
  // box-shadow: inset 0 0 0 50px rgb(255, 255, 255, 0.2);
  font-weight: var(--font--regular);
  padding: 0.5rem 0;

  > * {
    color: var(--white);
  }

  &:hover {
    // box-shadow: inset 0 0 0 2px white;
    // background: rgb(255, 255, 255, 0.2);
  }
}

.btn-secondary {
  color: #f3f3f3;
  background: none;
  // box-shadow: inset 0 0 0 2px rgb(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 50px rgb(255, 255, 255, 0.2);
  font-weight: var(--font--regular);
  backdrop-filter: blur(2rem);

  &:hover {
    // box-shadow: inset 0 0 0 2px white;
    box-shadow: inset 0 0 0 50px rgb(255, 255, 255, 0.2);
    transform: scale(1.1);
    // background: rgb(255, 255, 255, 0.2);
  }
}

@keyframes popIn {
0% {
  opacity: 0;
}
75% {
  opacity: 0;
}

100% {
  opacity: 1;
}
}